{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions", "not ie <= 8"]
      },
      "modules": false,
      "loose": true
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
