{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended"
  ],
  "plugins": [
    "css-modules"
  ],
  "env": {
    "browser": true
  },
  "globals": {
    "JSON": false
  },
  "rules": {
    "semi": ["error", "always"],
    "key-spacing": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "no-param-reassign": "off",
    "global-require": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "max-len": [2, 120, 2],
    "object-curly-spacing": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "ignore",
      "asyncArrow": "ignore"
    }],
    "no-console": ["warn", {
      "allow": ["info", "warn", "error"]
    }],
    "import/extensions": ["error", {
      "js": "never"
    }],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": "off",
    "react/forbid-prop-types": "off"
  }
}
